PORT=3001
USE_LOCAL_DB=false

MONGODB_URI_LOCAL=mongodb://localhost:27017/lojinha
MONGODB_URI_CLOUD=mongodb+srv://admin:admin@cluster0.osrtqkn.mongodb.net/lojinha?retryWrites=true&w=majority&appName=Cluster0

IS_LOCAL_SERVER=false
REMOTE_API_URL=https://lojinha-homens-de-fe-back.onrender.com
SYNC_INTERVAL_MS=300000

# Firebase Configuration (Opcional - se vazio usa storage local de fallback)
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_STORAGE_BUCKET=
